.calendar {
    display: grid;
    grid-template-columns: repeat(52, 1fr);
    grid-gap: 1px;
}

.week {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

.week.marked {
    background-color: #3498db;
    color: #fff;
}
