.calendar {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
    }

.week {
    width: auto;
    height: auto;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

.block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1px;
    width:80;
    height: 50px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
}

.week.marked {
    background-color: #3498db;
    color: #fff;
}
